table {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

.container-fluid {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #222;
  color: #fefefe;
  border-radius: 20px;
}

.my-pagination ::ng-deep .ngx-pagination a:hover {
  background: #222;
  color: #fefefe;
  border-radius: 20px;
}



.my-pagination ::ng-deep .ngx-pagination .pagination-previous {
  color: rgb(48, 46, 46);
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next {
  color: rgb(48, 46, 46);
}
