<div class="page mt-5">
  <div class="full-content">
    <div class="title">
      <h1><a [routerLink]="['/operatori/']">DASHBOARD GENERALE</a></h1>
    </div>
    <div class="wrapper">
      <router-outlet></router-outlet>
      <div class="action-list">
        <h2>Azioni</h2>
        <ul>
          <button class="btn btn-light mt-3" [routerLink]="[
              '/operatori/',
              { outlets: { operatore_outlet: ['add-user'] } }
            ]">
            Aggiungi operatore
          </button>
        </ul>
      </div>

      <div class="action-outlet">
        <router-outlet name="operatore_outlet"></router-outlet>
      </div>

    </div>
  </div>
</div>
