<div class="container-fluid mt-5 p-5">
  <h2>Tabella di tutti gli operatori</h2>
  <table class="table table-borderless">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">CF</th>
      </tr>
    </thead>

    <div *ngIf="isLoading == true" class="spinner-container position-absolute top-50 start-50 translate-middle">
      <div class="spinner-border" role="status">
        <span class="visually-hidden" id="spinner">Loading...</span>
      </div>
    </div>

    <tbody *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
      <tr *ngIf="isLoading == false">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.cf }}</td>
      </tr>
    </tbody>
  </table>

  <nav *ngIf="isLoading == false">
    <ul class="pagination justify-content-center">
      <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </ul>
  </nav>
</div>
