<div class="container-fluid mt-5 p-5">
  <h2>Tabella di tutti gli operatori</h2>
  <table class="table table-borderless">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">CF</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.cf }}</td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination justify-content-center">
      <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </ul>
  </nav>
</div>
