<div class="container-fluid mt-5 p-5">
  <h2>Aggiungi un PM di tipo 3</h2>
  <form [formGroup]="registerPM3Form">

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control ng-touched mb-2" id="name" formControlName="name" required>
      <div *ngIf="registerPM3Form.controls['name'].invalid && (registerPM3Form.controls['name'].dirty || registerPM3Form.controls['name'].touched)">
        <div *ngIf="registerPM3Form.controls['name'].errors?.['required']">
          <small class="error text-bg-light text-danger rounded-2">Nome è richiesto</small>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="lastname" class="form-label">Lastname</label>
      <input type="text" class="form-control ng-touched mb-2" id="lastname" formControlName="lastname">
      <div *ngIf="registerPM3Form.controls['lastname'].invalid && (registerPM3Form.controls['lastname'].dirty || registerPM3Form.controls['lastname'].touched)">
        <div *ngIf="registerPM3Form.controls['lastname'].errors?.['required']">
          <small class="error text-bg-light text-danger rounded-2">Lastname è richiesto</small>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control mb-2" id="email" formControlName="email">
      <div *ngIf="registerPM3Form.controls['email'].invalid && (registerPM3Form.controls['email'].dirty || registerPM3Form.controls['email'].touched)">
        <div *ngIf="registerPM3Form.controls['email'].errors?.['required']">
          <small class="error text-bg-light text-danger rounded-2">Email è richiesta</small>
        </div>
        <div *ngIf="registerPM3Form.controls['email'].errors?.['email']">
          <small class="error text-bg-dark text-warning rounded-2">Email in formato non corretto</small>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="cf" class="form-label">CF</label>
      <input [maxLength]="16" type="text" class="form-control mb-2" id="cf" formControlName="cf">
      <div *ngIf="registerPM3Form.controls['cf'].invalid && (registerPM3Form.controls['cf'].dirty || registerPM3Form.controls['cf'].touched)">
        <div *ngIf="registerPM3Form.controls['cf'].errors?.['required']">
          <small class="error text-bg-light text-danger rounded-2">Codice fiscale è richiesto</small>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-dark" (click)="registerUser()">Aggiungi PM</button>

  </form>
</div>
