<div class="container-fluid mt-5 p-5">
  <h2>Trova un PM di tipo 3</h2>

  <form [formGroup]="findPM3Form">

    <div class="form-check form-switch mt-3 mb-3">
      <input class="form-check-input" type="checkbox" role="switch" id="switch" formControlName="switch">
      <label class="form-check-label" for="switch">Cerca più PM di tipo 3</label>
    </div>

    <div class="mb-3">
      <label for="id" class="form-label">ID PM da ricercare</label>
      <input type="text" class="form-control" id="id" formControlName="id">
      <div *ngIf="findPM3Form.controls['id'].invalid && (findPM3Form.controls['id'].dirty || findPM3Form.controls['id'].touched)">
        <div *ngIf="findPM3Form.controls['id'].errors?.['required']">
          <small class="text-danger">L'ID da ricercare è richiesto</small>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-dark" (click)="findPM(switch)">Trova PM</button>

  </form>
</div>


<div class="container-fluid mt-5 p-5" *ngIf="showRecordFound == true">
  <h2 *ngIf="pm3s?.length == 0">Record trovato</h2>
  <h2 *ngIf="pm3s?.length != 0">Record trovati</h2>
  <table class="table table-borderless">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">CF</th>
      </tr>
    </thead>
      <tbody *ngIf="pm3s?.length != 0">
        <tr *ngFor="let pm3 of pm3s">
          <th scope="row">{{ pm3?.id }}</th>
          <td>{{ pm3?.name }}</td>
          <td>{{ pm3?.lastname }}</td>
          <td>{{ pm3?.email }}</td>
          <td>{{ pm3?.cf }}</td>
        </tr>
      </tbody>
    <tbody *ngIf="pm3s?.length == 0">
      <tr>
        <th scope="row">{{ pm3?.id }}</th>
        <td>{{ pm3?.name }}</td>
        <td>{{ pm3?.lastname }}</td>
        <td>{{ pm3?.email }}</td>
        <td>{{ pm3?.cf }}</td>
      </tr>
    </tbody>
  </table>
</div>

